html {
    height: 100%;
}

header {
    margin: 80px 0 0 0;
}

h1 {
    color: #ffffff;
}

h6 {
    color: #e10074
}

img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 150px;
}

p {
    color: #ffffff;
}
body {
    background: rgb(207,0,0);
    background: linear-gradient(45deg, rgba(207,0,0,1) 0%, rgba(163,0,72,1) 65%, rgba(166,55,118,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #e10074
}

.nav-link {
    color: #fff
}